{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SetiaMDN-BookSearcher</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script>
            $(document).ready(function(){
              $("#acc").accordion();
            } );
            $(document).ready(function(){
                $("#search").click(function(event){
                    search();
                })
            })
        </script>
    </head>
    <style>
        .other1{
            width: 850px;
        }
        .other2{
            width: 150px;
            text-align: right;
        }
    </style>
    <body class="bodyC">
        <div class="theme-switch-wrapper" style="position: fixed;">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            Dark Mode
        </div>
        </br>
        <div class="container">
            </br></br>
            <p style="text-align:center; font-size: 36px; font-weight: 500;"><a href="/home" style="text-decoration: none; color: var(--font-color);">Book searcher</a></p></br>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" id="cariBuku" class="form-control form-control-lg" placeholder="Search book here">
                    </div>
                    <div class="col-12 col-md-3">
                        <button id="search" class="btn btn-block btn-lg btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <br>
            <div id="result">
                </br></br>
                <table bgcolor='white' align='center' style='margin-top: 40px; margin-bottom: 40px; font-size: 24px; width:90%'>
                    <tr>
                        <td colspan=2 style='font-size:20px'>Recommendations</br></br></td>
                    </tr>
                    <tr>
                        <td colspan=2 style='background-color:var(--font-color)'></td>
                    </tr>
                    <tr>
                        <td style='width:250px; height:400px;'><img src="http://books.google.com/books/content?id=aGjaBTbT0o0C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" style='width: 180px;'></td>
                        <td style='height:270px;'>
                            <p style='font-weight: 700;'>HTML and CSS: Design and Build Websites</p>
                            <p>Author: Jon Duckett<br></p>
                            <p>Rating: 4<br></p>
                            <p><a href='https://books.google.co.id/books?id=aGjaBTbT0o0C&dq=html+and+css&hl=&source=gbs_api' style='text-decoration: none'>More Info</a></p>
                        </td>
                        <tr>
                            <td colspan=2 style='background-color:var(--font-color)'></td>
                        </tr>
                    </tr>
                    <tr>
                        <td style='width:250px; height:400px;'><img src="http://books.google.com/books/content?id=LsVnCgAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" style='width: 180px;'></td>
                        <td style='height:270px;'>
                            <p style='font-weight: 700;'>Sydney & Simon: Go Green!</p>
                            <p>Author: Paul A. Reynolds<br></p>
                            <p>Rating: <a style='color:red'>No rating</a><br></p>
                            <p><a href='https://play.google.com/store/books/details?id=LsVnCgAAQBAJ&source=gbs_api' style='text-decoration: none'>More Info</a></p>
                        </td>
                        <tr>
                            <td colspan=2 style='background-color:var(--font-color)'></td>
                        </tr>
                    </tr>
                    <tr>
                        <td style='width:250px; height:400px;'><img src="http://books.google.com/books/content?id=_ycFBAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" style='width: 180px;'></td>
                        <td style='height:270px;'>
                            <p style='font-weight: 700;'>The Smartphone: Anatomy of an Industry</p>
                            <p>Author: Elizabeth Woyke<br></p>
                            <p>Rating: <a style='color:red'>No rating</a><br></p>
                            <p><a href='https://play.google.com/store/books/details?id=_ycFBAAAQBAJ&source=gbs_api' style='text-decoration: none'>More Info</a></p>
                        </td>
                        <tr>
                            <td colspan=2 style='background-color:var(--font-color)'></td>
                        </tr>
                    </tr>
                </table>
            </div>
        </div>
        </br></br></br></br>
        <p style="text-align:center; font-size: 24px; font-weight: 500;">Tambah Aktivitas</p>
        <form action="" method="POST">
            {% csrf_token %}
            <table align="center" style="color: white; font-size:24px;">
                {{ form.as_table }}
            </br>
            </table>
            <p style="text-align: center"><button type="submit" id="submit">&emsp;Submit&emsp;</button></p>
        </form>
        <div class="forms">
            <table bgcolor="white" align="center" style="margin-top: 40px; margin-bottom: 40px; font-size: 24px;">
                {% for form in forms %}
                <div class="form">
                    <tr>
                        <th style="text-align: left;">{{ form.date }}</th>
                    </tr>
                    <tr>
                        <td class="other1">{{ form.status }}</td>
                        <td class="other2"><a href="/statRemove/{{form.id}}" style="text-decoration:none; color:red" class="darkmode-ignore">Remove</a></td>
                    </tr>
                    <tr>
                        <td></br></td>
                    </tr>
                </div>
                {% endfor %}
            </table>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/search.js' %}"></script>
    </body>
</html>